* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.container-left {
    width: 15%;
    height: 100%;
    background-color: lemonchiffon;
}

.left-main {
    width: 100%;
    height: 90%;
    background-color: ivory;
    margin-top: 50px;
    text-align: center;
}

.container-right {
    width: 100%;
    height: 100%;
    background-color: white;
}


/* .right-button {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
} */

.table-1 {
    width: 95%;
    height: 95%;
    background-color: white;
}

.table {
    width: 95%;
}


h2 {
    text-align: center;
}

select {
    width: 300px;
    height: 40px;
    border-radius: 5px;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border-color: bisque;
    background-color: ivory;
}

.t1 {
    width: 60px;
    height: 60px;
}