{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'sale.css' %}" />
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
/>
<link rel="stylesheet" href="{% static 'store.css' %}" />
<link rel="stylesheet" href="{% static  'themify-icons/themify-icons.css' %}" />
<script src="{% static  'js/jquery-3.6.0.js'%} "></script>
<script src="{% static  'js/xuly_store.js'%} "></script>


<html lang="en">
  <head> 
  </head>
  {% block content %}
  {% endblock %}
</html>
