{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'hung.css' %}" />
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
/>
<link rel="stylesheet" href="{% static 'store.css' %}" />
<link rel="stylesheet" href="{% static  'themify-icons/themify-icons.css' %}" />

<html lang="en">
  <head> </head>

  <body>
    <div class="main">
      <div class="container-left">
        <div class="left-main">
          <h2 style="font-size: 20px">MENU</h2>
          <a href="hung.html">Sale-Fact</a>
          <br />
          <a href="Store.html">Store-Fact</a>
        </div>
      </div>
      <div class="container-right">
        <div class="right-top">
          <i class="ti-menu ml-3"></i>
          <hr width="100%" align="center" />
          <p></p>
        </div>
        <div class="right-button">
          <div class="table-1">
            <h2>Store-Fact</h2>
            <hr width="100%" align="center" />
            <span class="ml-5">Sản phẩm</span
            ><select class="ml-3" name="" id="">
              <option value="">Việt Nam</option>
              <option value="">Hàn Quốc</option>
              <option value="">Nhật Bản</option>
            </select>
            <table class="table table-bordered mt-5 ml-5">
              <thead>
                <tr>
                  <th></th>
                  <th>Tổng</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><i class="ti-control-play"></i></td>
                  <td></td>
                </tr>
                <tr>
                  <td><i class="ti-control-play"></i></td>
                  <td></td>
                </tr>
                <tr>
                  <td><i class="ti-control-play"></i></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
