{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'store.css' %}" />
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
/>
<link rel="stylesheet" href="{% static  'themify-icons/themify-icons.css' %}" />
<script src="{% static  'js/jquery-3.6.0.js'%} "></script>
<script src="{% static  'js/xuly_store.js'%} "></script>

<html lang="en">
  <head> </head>

  <body>
    <div class="main">
      <div class="container-left">
        <div class="left-main">
          <h2 style="font-size: 20px">MENU</h2>
          <a href="{% url 'sale' %}">Sale-Fact</a>
          <br />
          <a href="{% url 'sale' %}">Store-Fact</a>
          <button type="button" class="btn btn-primary" id="button-reload">Reload</button>
        </div>
      </div>
      <div class="container-right">
        <div class="right-button">
          <div class="table-1">
            <h2>Store-Fact</h2>
            <hr width="100%" align="center" />
            <span class="ml-5">Sản phẩm</span>
            <select class="ml-3" name="" id="sp-combo-box">
              <option value="0">Tất cả sản phẩm</option>
            </select>
            <select class="ml-3" name="" id="nam-combo-box">
              <option value="0">Tất cả năm</option>
            </select>
            <span class="ml-1">Quý</span>
            <select class="ml-3" name="" id="quy-combo-box" disabled="disabled">
              <option value="0">Tất cả quý</option>
            </select>
            <table class="table table-bordered mt-5 ml-5" id="table-store">
              <thead>
                <tr>
                  <th>Thành phố/Cửa hàng</th>
                  <th>Tổng</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><i class="ti-control-play"></i></td>
                  <td></td>
                </tr>
                <tr>
                  <td><i class="ti-control-play"></i></td>
                  <td></td>
                </tr>
                <tr>
                  <td><i class="ti-control-play"></i></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
